/* Name: Aatish Dubey | UN ID: 15444352 */

body {
    margin: 0;
    font-family: 'PT Sans Narrow', arial;
    color: white;
    background: #198dc3;
    font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

.main {
    padding: 2% 0;
    background: #43b3e7;
    background-image: url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 5% 40%, 30% 30%, 70% 30%, 95% 40%;
    background-size: 20%;
}

.hi {
    font-family: 'Yanone Kaffeesatz', 'PT Sans narrow', arial;
    font-size: 4em;
    margin-bottom: 1%;
}

.main div {
    text-align: center;
}

.intro {
    font-size: 1.75em;
}

.main img {
    width: 15%;
    border: 1px solid white;
    box-shadow: 0px 5px 5px #198dc3;
    border-radius: 140px;
    margin: 0 0 5% 42.5%;
}

.main img:hover {
    transform: rotate(360);
    transition: 1s;
}

.main ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 15%;
    padding: 0;
}

.main ul li {
    width: 25%;
    font-size: 1.5em;
    background: #198dc3;
    box-shadow: 0px 3px 0px #12678f;
    opacity: 0.75;
    cursor: pointer;
    font-weight: 400;
    margin: 6% 0;
    border-radius: 0 0 5px 5px;
    transition: none;
}

.button {
    padding: 7.5% 0;
}

.main ul li a {
    text-decoration: none;
    color: white;
}

.main ul li:hover {
    opacity: 1;
}

.main ul li:active {
    box-shadow: 0px 0px 0px #12678f;
    transform: translate(0px, 3px);
    transition: 0.1s;
}

.footer {
    display: flex;
    background: #198dc3;
    padding: 1% 0;
}

.footer h3 {
    font-size: 1.375em;
    margin: 1.5% 1% 0 1%;
}

.fa {
    padding: 1.5%;
    font-size: 1em;
    width: 2%;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border-radius: 5px;
    box-shadow: 0px 2px #12678f;
    opacity: 0.8;
}

.fa:hover {
    opacity: 1;
    transition: 0.2s;
}

.fa:active {
    box-shadow: 0px 0px 0px #12678f;
    transform: translate(2px, 2px);
    transition: 0.1s;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


@media (max-width: 1199px) and (min-width: 785px) {
    .main img {
        margin: 5% 0 5% 40%;
        width: 20%
    }
    .main ul li {
        margin: 10% 0;
    }
}

@media (max-width: 784px) and (min-width: 200px) {

    .main {
        padding: 10% 0;
        background-image: url(../images/cloud.png), url(../images/cloud.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 30% 25%, 70% 25%;
        background-size: 25%;
    }
    .hi {
        font-size: 7em;
        margin: 2%;
    }
    .intro {
        font-size: 2em;
    }
    .main img {
        width: 30%;
        margin: 0 0 5% 35%;
    }
    .main ul {
        flex-direction: column;
        margin: 5% 20% 0 20%;
    }
    .main ul li {
        width: 100%;
        font-size: 2em;
        margin-top: 8%;
        margin-bottom: 4%;
    }
    .footer {
        padding: 5%;
    }
    .footer h3 {
        padding-top: 1%;
    }
    .fa {
        padding: 3% 1%;
        width: 8%;
    }
}

@media (max-width: 1199px) and (min-width: 785px) and (orientation: portrait) {
    body {
        background-image: url(../images/cloud.png), url(../images/cloud.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 30% 25%, 70% 25%;
        background-size: 25%;
    }
    .main {
        padding: 10% 0;
    }
    .hi {
        font-size: 7em;
        margin: 2%;
    }
    .intro {
        font-size: 2em;
    }
    .main img {
        width: 30%;
        margin: 0 0 5% 35%;
    }
    .main ul {
        flex-direction: column;
        margin: 5% 20% 0 20%;
    }
    .main ul li {
        width: 100%;
        font-size: 2em;
        margin-top: 8%;
        margin-bottom: 4%;
    }
    .footer {
        padding: 5%;
    }
    .footer h3 {
        margin: 2.5% 1% 0 1%;
    }
    .fa {
        padding: 3% 1%;
        width: 8%;
    }
}
