/* Name: Aatish Dubey | UN ID: 15444352 */

body {
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    background: #198dc3;
    font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
}

.header {
    padding: 0;
    margin: 0 0.5%;
}

.header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    width: 25%;
    font-size: 1.5em;
    background: #198dc3;
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    transition: none;
    text-align: center;
}

.navbutton {
    padding: 5%;
    opacity: 0.5;
    transition: 0.3s;
}

.nav li a {
    text-decoration: none;
    color: white;
}

.navbutton:hover {
    opacity: 1;
    transition: 0.3s;
}

.nav li a div:active {
    transform: translate(0px, 1px);
    transition: 0.1s;
}

.navactive {
    background: #43b3e7;
    opacity: 1;
}

.main {
    background: #43b3e7;
    margin: 0 .5%;
    padding: 8% 0;
    border-radius: 0px 0px 5px 5px;
    background-image: url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0% 35%, 30% 10%, 70% 10%, 100% 35%;
    background-size: 20%;
}

.section {
    background: white;
    margin: 0% 10%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    padding: 5% 5%;
    font-size: 1em;
    line-height: 1.25;
    box-shadow: 2px 2px 20px #198dc3;
    color: #1780b2;
}


.cv_section1, .cv_section2, .cv_section3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cv_section div {
  width: 50%;
  text-align: left;
  padding: 0 2%;
}


.article_title h2 {
    text-align: center;
    font-size: 1.625em;
    color: #1780b2;
    line-height: 1.15384615;
    margin-bottom: 2%;
}

.paragraph_about {
    font-size: 1em;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact p, .form {
  width: 50%;
}

#contact_form input {
  width: 60%;
}

#sendbutton {
  background-color: #4CAF50;
  border: none;
  width: 30%;
  color: white;
  margin: 1% 0 0 0;
  padding: 2% 2%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1em;
}


.footer {
    margin: 0;
    display: flex;
    background: #198dc3;
    padding: 3% 0;
}

.footer p {
    font-size: 1.25em;
    margin: 1.5% 1% 0 1%;
    cursor: default;
}

.fa {
    padding: 1.5%;
    font-size: 1em;
    width: 2%;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border-radius: 5px;
    box-shadow: 0px 2px #12678f;
    opacity: 0.8;
    transition: 0.2s;
}

.fa:hover {
    opacity: 1;
    transition: 0.2s;
}

.fa:active {
    box-shadow: 0px 0px 0px #12678f;
    transform: translate(0px, 2px);
    transition: 0.1s;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

@media (max-width: 1199px) and (min-width: 785px) {
  .main {
    padding: 10% 0;
  }

  .footer p {
    margin: 2% 1% 0 1%;
  }

  .fa {
    padding: 2% 2%;
    width: 2%;
  }

  .cvtitle {
    text-align: center;
  }

  .cv_section {
    flex-direction: column;
  }

  .cv_section div {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .cv_section div ul {
    list-style: none;
    padding: 0 1%;
  }
}

@media (max-width: 784px) and (min-width: 200px) {
  .main {
    padding: 12% 2%;
    background-image: url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0% 35%, 30% 15%, 70% 15%, 100% 35%;
    background-size: 20%;
  }

  .footer p {
    margin: 3% 1% 0 1%;
  }

  .fa {
    padding: 3% 3%;
    width: 4%;
  }

  .cvtitle {
    text-align: center;
  }

  .cv_section {
    flex-direction: column;
  }

  .cv_section div {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .cv_section div ul {
    list-style: none;
    padding: 0 1%;
  }
}

@media (max-width: 1199px) and (min-width: 785px) and (orientation: portrait) {


    .footer p {
      margin: 3% 1% 0 1%;
    }

    .fa {
      padding: 3% 3%;
      width: 4%;
    }

    .cvtitle {
      text-align: center;
    }

    .cv_section {
      flex-direction: column;
    }

    .cv_section div {
      text-align: center;
      width: 100%;
      padding: 0;
    }

    .cv_section div ul {
      list-style: none;
      padding: 0 1%;
    }
}
