body {
  margin: 0;
}

.body_bg {
  background: linear-gradient(to bottom, #899cf0, #72c6ed);
}

.header {
  display: flex;
  flex-direction: row;
}

.header h2, p {
  width: 50%;
}

.header p {
  text-align: center;
}

.header h2 {
  margin-left: 3%;
}



.main ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 15% 0% 15%;
}

.main ul li {
  width: 25%;
  text-align: center;
  background: rgb(40, 140, 250);
  margin: 10% 0;
  padding: 1% 0;
  border: 1px solid #999999;
  box-shadow: 5px 5px 2.5px #777777;
  opacity: 0.75;
  cursor: pointer;
}

.main ul li a {
  text-decoration: none;

}

.main ul li:hover {
  opacity: 1;
}

.main ul li:active {
  box-shadow: 2.5px 2.5px 3px  #777777;
}

.footer_bg {

  background: linear-gradient(to bottom, #72c6ed, #89cff0);
  padding: 10% 0;
}

.footer p {
  margin: 0;
}
