body {
    margin: 0;
    font-family: 'PT Sans Narrow', arial;
    color: white;
    background: #43b3e7;
    background-image: url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png), url(../images/cloud.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 5% 40%, 30% 30%, 70% 30%, 95% 40%;
    background-size: 20%;
}

.header {
    margin-left: 20%;
    margin-bottom: 5%;
    width: 60%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    font-family: 'Indie Flower', 'PT Sans Narrow', arial;
    width: 10%;
    margin-top: 0;
    color: white;
    text-align: center;
    background: #198dc3;
    font-weight: 400;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 2px 5px #12678f;
    opacity: 0.75;
    cursor: pointer;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li div {
    line-height: 90%;
}

.home {
    font-size: 3em;
    padding: 50% 0;
}

.story {
    padding: 50% 0;

}

.education {
    font-size: 1em;
    padding: 30% 0;
}

.contact {
    padding: 36% 0;
}

.header a {
    text-decoration: none;
}

.navbar li:hover {
    opacity: 1;
}

.navbar li:active .story, .navbar li:active .home, .navbar li:active .education, .navbar li:active .contact {
    transform: translateX(2px) translateY(2px);
    transition: 0.15s;
}

.navbar li:active {
  transform: translateX(2px);
  box-shadow: 0px 0px 2px #12678f;
  transition: 0.15s;
}
